<h1>Latest Crypto News</h1>
<p>Refresh to update news</p>

<div class="container">
  <div class="row">
    <% for x in @news["Data"] %>
    <div class="col-md-3">
        <div class="card">
         <img class="card-img-top" src="<%= x["imageurl"] %>" alt="<%= x["source"] %>">
          <div class="card-body">
            <h3 class="card-title"><%= x["title"] %></h3>
            <div class="card-text small"><%= truncate x["body"], length: 500 %></div>
            <%= link_to ' view full article', x["url"], class: "btn btn-primary btn-block" %>
          </div>
        </div>
    </div>
    <% end %>
  </div>
</div>