<%= render 'layouts/home_banner' %>

<div style="color: #fff">
<div class="container"><%= @prices %></div>
</div>



<div class="container">
  <table class="table table-dark table-striped table-hover">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Price</th>
        <th scope="col">24hr high</th>
        <th scope="col">24hr low</th>
        <th scope="col">Market Cap</th>
      </tr>
    </thead>
  <% if @prices["DISPLAY"] %>
    <% @prices["DISPLAY"].each do |key, value| %>
      <tbody>
        <tr>
          <td class="crypto-type"><%= key %></td>
          <td><%= value["USD"]["PRICE"] %></td>
          <td><%= value["USD"]["HIGH24HOUR"] %></td>
          <td><%= value["USD"]["LOW24HOUR"] %></td>
          <td><%= value["USD"]["MKTCAP"] %></td>
        </tr>
      </tbody>
    <% end %>
  <% else %>
    Please check back again later for prices
  <% end %>
  </table>
</div>

<div class="container">
  <div class="row">
  <% if @news["Data"] %>
    <% for x in @news["Data"] %>
    <div class="col-md-4">
        <div class="card">
         <img class="card-img-top" src="<%= x["imageurl"] %>" alt="<%= x["source"] %>">
          <div class="card-body">
            <h3 class="card-title"><%= truncate x["title"], length: 50 %></h3>
            <div class="card-text small"><%= truncate x["body"], length: 200 %></div>
            <%= link_to ' view full article', x["url"], class: "btn btn-primary btn-block" %>
          </div>
        </div>
    </div>
    <% end %>
    <% else %>
      <div class="card">PLEASE CHECK BACK AGAIN LATER</div>
    <% end %>
  </div>
</div>