<div class="container-fluid">

<%# set a global variable to calculate total profit/loss of all cryptos in our portfolio %>
<% profit_loss = 0 %>
  
  <%= link_to ("<i class='fa fa-rocket'></i> " + 'Add New Crypto').html_safe,  new_crypto_path, class: "btn btn-primary mb-3" %>
  <table class="table table-dark table-hover">
    <thead>
      <tr>
        <th scope="col">Symbol</th>
        <th scope="col">Date Purchased</th>
        <th scope="col">Rank</th>
        <th scope="col">Price Purchased At</th>
       <th scope="col">Amount Owned</th>
       <th scope="col">Cost of Original Purchase</th>
        
      
        <th scope="col">Current Price</th>
        <th>Current Total Value </th>
        <th>Profit / Loss</th>

        <th>1 hr</th>
        <th>24 hr</th>
        <th>7 day</th>



        <th scope="col">edit</th>
        <th scope="col">delete</th>
      </tr>
    </thead>
    <tbody>
      <% for x in @lookup_cryptos %>
        <% for coin in @current_user_cryptos %>
          <% if coin.symbol == x["symbol"] %>
          <tr>
            <td><%= link_to coin.symbol, crypto_path(coin) %></td>
            <td><%= distance_of_time_in_words(coin.created_at, Time.now) %> ago</td>
            <td><%= x["rank"] %></td>
            <td><%= number_to_currency coin.cost_per %></td>
            <td><%=  coin.amount_owned %></td>
            <td><%= number_to_currency(coin.amount_owned * coin.cost_per) %></td>

        

            <td><%= number_to_currency  x["price_usd"] %></td>
            <td><%= number_to_currency (x["price_usd"].to_d * coin.amount_owned) %></td>
            <td><%= number_to_currency ((x["price_usd"].to_d * coin.amount_owned) - (coin.amount_owned * coin.cost_per)) %></td>

            <td><%= x["percent_change_1h"] %>%</td>
            <td><%= x["percent_change_24h"] %>%</td>
            <td><%= x["percent_change_7d"]  %>%</td>
            <%= render 'edit_options', coin: coin %>


            <%# after each loop add the total profit/loss for each coin to the global variable %>
            <% profit_loss += (x["price_usd"].to_d * coin.amount_owned) - (coin.amount_owned * coin.cost_per) %>


          </tr>  
          <% end %>
        <% end %>
      <% end %>
    </tbody>
  </table>

<%# display global variable total profit and loss %>
  <h5>Total Profit / Loss of Portfolio</h5>
  <%= number_to_currency profit_loss %>
</div>


<!--
<% for x in @lookup_cryptos %>
  <% for coin in @current_user_cryptos %>
          <% if coin.symbol == x["symbol"] %>
                <h1><%= coin.symbol %></h1>
                <h2><%= x["rank"] %></h2>
                <h2><%= x["price_usd"] %></h2>
          <% end %>
  <% end %>
<% end %>

-->