<%= @crypto.symbol %>
<%= link_to fa_icon('trash'), @crypto, method: :delete, data: { confirm: 'Are you sure you want to delete this post' }  %>

<% for x in @lookup_cryptos %>
    <% if @crypto.symbol == x["symbol"] %>
          <h1><%= @crypto.symbol %></h1>
          <h2><%= x["rank"] %></h2>
          <h2><%= x["price_usd"] %></h2>
    <% end %>
<% end %>